.mainContainer{
display: flex;
flex-direction: column;
row-gap: 30px;
/* justify-content: center; */
align-items: center;
padding-top: 50px;
padding-bottom:50px ;
height: 100%;
}
.introText{
    font-size: calc(25% + 18px);
    display: flex;
    padding-left: calc(50px + 100 * ((101vw — 507px) / 1420));
    padding-right: calc(50px + 100 * ((101vw — 507px) / 1420));
    justify-content: center;
    align-items: center;
    text-align: center;
    color: darkblue;
    font-family: system-ui;
}
.howToButton{
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(40 128 251);
    border-color: rgb(40 128 251);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #ffea6a;
}