.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  .boxText{

    font-size: calc(22% + 14px);
    color: darkblue;
    line-height: 2;
  }
  .boxStyle{
    position: absolute;
    /* top: 10vh; */
    left: 50%;
    /* top: 10%; */
    /* right: 14%; */
    width: 50%;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 100;
    overflow: hidden;
    background-color: aliceblue;
    padding: 40px;
    border-radius: 10px;
    /* background: aliceblue; */
  }
  .boxButton
{
    align-self: center;
    justify-self: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffea6a;
    border-color: #ffea6a;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(40 128 251);

}
.boxFooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}